<div class="col-lg-12 col-24" style="margin-top:150px !important;">
    <!-- about -->
    <div class="card">
      <div class="card-body">
    
        <div class="mt-2">
          <p class="card-text">I Cookie sono costituiti da porzioni di codice installate all'interno del browser che assistono il Titolare nell'erogazione del Servizio in base alle finalità descritte. Alcune delle finalità di installazione dei Cookie potrebbero, inoltre, necessitare del consenso dell'Utente.
            Quando l'installazione di Cookies avviene sulla base del consenso, tale consenso può essere revocato liberamente in ogni momento seguendo le istruzioni contenute in questo documento.
            
            </p>
        </div>
        <div class="mt-2">
          <h4 class="mb-50">Cookie tecnici e di statistica aggregata</h4>
        </div>
        <div class="mt-2">
          <h5 class="mb-50">Attività strettamente necessarie al funzionamento</h5>
          <p class="card-text">Questo Sito Web utilizza Cookie per salvare la sessione dell'Utente e per svolgere altre attività strettamente necessarie al funzionamento di questo Sito Web, ad esempio in relazione alla distribuzione del traffico.
            </p>
        </div>
        <div class="mt-2">
          <h5 class="mb-50">Attività di salvataggio delle preferenze, ottimizzazione e statistica</h5>
          <p class="card-text mb-0">Questo Sito Web utilizza Cookie per salvare le preferenze di navigazione ed ottimizzare l'esperienza di navigazione dell'Utente. Fra questi Cookie rientrano, ad esempio, quelli per impostare la lingua e la valuta o per la gestione di statistiche da parte del Titolare del sito.
            </p>
        </div>
        <div class="mt-2">
            <h4 class="mb-50">Hosting ed infrastruttura backend</h4>
            <p class="card-text mb-0">Questo tipo di servizi ha la funzione di ospitare dati e file che permettono a questo Sito Web di funzionare, ne consentono la distribuzione e mettono a disposizione un'infrastruttura pronta all'uso per erogare specifiche funzionalità di questo Sito Web.
                Alcuni di questi servizi funzionano attraverso server dislocati geograficamente in luoghi differenti, rendendo difficile la determinazione del luogo esatto in cui vengono conservati i Dati Personali.
                
                </p>
          </div>
        <div class="mt-2">
            <h5 class="mb-50">Servizio di Hosting fornito da Microsoft Azure</h5>
            <p class="card-text mb-0">Alcuni dei servizi elencati di seguito raccolgono statistiche in forma aggregata ed anonima e potrebbero non richiedere il consenso dell'Utente o potrebbero essere gestiti direttamente dal Titolare – a seconda di quanto descritto – senza l'ausilio di terzi.
                <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
                <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
                </p>
        </div>

      <div class="mt-2">
        <h5 class="mb-50">Finalità del Trattamento dei Dati raccolti</h5>
        <p class="card-text mb-0">I Dati dell'Utente sono raccolti per consentire al Titolare di fornire i propri servizi, così come per le seguenti finalità: Contattare l'utente, Hosting ed infrastruttura backend, Interazione con social network e piattaforme esterne, Remarketing e behavioral targeting, Statistica, Visualizzazione di contenuti da piattaforme esterne.
            Le tipologie di Dati Personali utilizzati per ciascuna finalità sono indicati nelle sezioni specifiche di questo documento.
            
          </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Interazione con social network e piattaforme esterne</h5>
        <p class="card-text mb-0">
            Questo tipo di servizi permette di effettuare interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questo Sito Web.
                Le interazioni e le informazioni acquisite da questo Sito Web sono in ogni caso soggette alle impostazioni privacy dell'Utente relative ad ogni social network.
                Nel caso in cui sia installato un servizio di interazione con i social network, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.


          </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Pulsante di condivisione su Facebook, Twitter, Google+ e altre piattaforme (Oracle America, Inc.)</h5>
        <p class="card-text mb-0">
            I pulsanti per la condivisione dei contenuti di questo Sito Web su social network o altre piattaforme sono servizi di interazione forniti da Oracle.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Remarketing e behavioral targeting</h5>
        <p class="card-text mb-0">
            Questo tipo di servizi consente a questo Sito Web ed ai suoi partner di comunicare, ottimizzare e servire annunci pubblicitari basati sull'utilizzo passato di questo Sito Web da parte dell'Utente.
            Questa attività viene effettuata tramite il tracciamento dei Dati di Utilizzo e l'uso di Cookie, informazioni che vengono trasferite ai partner a cui l'attività di remarketing e behavioral targeting è collegata.            
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Facebook Remarketing (Facebook, Inc.)</h5>
        <p class="card-text mb-0">
            Facebook Remarketing è un servizio di Remarketing e Behavioral Targeting fornito da Facebook, Inc. che collega l'attività di questo Sito Web con il network di advertising Facebook.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Remarketing con Google Analytics per la pubblicità display (Google Inc.)</h5>
        <p class="card-text mb-0">
            Google Analytics per la pubblicità display è un servizio di remarketing e behavioral targeting fornito da Google Inc. che collega l'attività di tracciamento effettuata da Google Analytics e dai suoi Cookie con il network di advertising Adwords ed il Cookie Doubleclick.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h4 class="mb-50">Statistica</h4>
        <p class="card-text mb-0">
            I servizi contenuti nella presente sezione permettono al Titolare del Trattamento di monitorare e analizzare i dati di traffico e servono a tener traccia del comportamento dell'Utente.
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Google Analytics con IP anonimizzato (Google Inc.)</h5>
        <p class="card-text mb-0">
            Google Analytics è un servizio di analisi web fornito da Google Inc. ("Google"). Google utilizza i Dati Personali, raccolti in forma anonima su questo sito, allo scopo di tracciare ed esaminare l'utilizzo di questo Sito Web, compilare report e condividerli con gli altri servizi sviluppati da Google.
Google potrebbe utilizzare i Dati Personali, raccolti in modo anonima su questo sito, per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h4 class="mb-50">Visualizzazione di contenuti da piattaforme esterne</h4>
        <p class="card-text mb-0">
            Questo tipo di servizi permette di visualizzare contenuti ospitati su piattaforme esterne direttamente dalle pagine di questo Sito Web e di interagire con essi.
            Nel caso in cui sia installato un servizio di questo tipo, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.
            
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Google Fonts (Google Inc.)</h5>
        <p class="card-text mb-0">
            Google Fonts è un servizio di visualizzazione di stili di carattere gestito da Google Inc. che permette a questo Sito Web di integrare tali contenuti all'interno delle proprie pagine.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span>Dati di utilizzo e varie tipologie di Dati secondo quanto specificato dalla privacy policy del servizio.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Video YouTube (Google Inc.)</h5>
        <p class="card-text mb-0">
            YouTube è un servizio di visualizzazione di contenuti video gestito da Google Inc. che permette a questo Sito Web di integrare tali contenuti all'interno delle proprie pagine.
            <span style="font-weight: bold;">  Dati Personali raccolti:</span> Cookie e Dati di utilizzo.
            <span style="font-weight: bold;"> Luogo del trattamento: </span>USA – Privacy Policy.  
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Come posso esprimere il consenso all'installazione di Cookie?</h5>
        <p class="card-text mb-0">
            In aggiunta a quanto indicato in questo documento, l'Utente può gestire le preferenze relative ai Cookie direttamente all'interno del proprio browser ed impedire – ad esempio – che terze parti possano installarne.
            Tramite le preferenze del browser è inoltre possibile eliminare i Cookie installati in passato, incluso il Cookie in cui venga eventualmente salvato il consenso all'installazione di Cookie da parte di questo sito. L'Utente può trovare informazioni su come gestire i Cookie con alcuni dei browser più diffusi ad esempio ai seguenti indirizzi: Google Chrome, Mozilla Firefox, Apple Safari e Microsoft Internet Explorer.
            Con riferimento a Cookie installati da terze parti, l'Utente può inoltre gestire le proprie impostazioni e revocare il consenso visitando il relativo link di opt out (qualora disponibile), utilizzando gli strumenti descritti nella privacy policy della terza parte o contattando direttamente la stessa.
            Fermo restando quanto precede, l'Utente può avvalersi delle informazioni fornite da EDAA (UE), Network Advertising Initiative (USA) e Digital Advertising Alliance (USA), DAAC (Canada), DDAI (Giappone) o altri servizi analoghi. Con questi servizi è possibile gestire le preferenze di tracciamento della maggior parte degli strumenti pubblicitari. Il Titolare, pertanto, consiglia agli Utenti di utilizzare tali risorse in aggiunta alle informazioni fornite dal presente documento.
            
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Titolare del Trattamento dei Dati</h5>
        <p class="card-text mb-0">
            <span style="font-weight: bold;">  Titolare:</span>NiteAdvisor S.r.l.
            <span style="font-weight: bold;"> Indirizzo: </span>Strada De Soraporta 16, 38036 San Giovanni di Fassa (TN)  
            <span style="font-weight: bold;"> Indirizzo email: </span>info@niteadvisor.com
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Definizioni e riferimenti legali</h5>
        <p class="card-text mb-0">
          
            
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Dati Personali (o Dati)</h5>
        <p class="card-text mb-0">
            Costituisce dato personale qualunque informazione relativa a persona fisica, identificata o identificabile, anche indirettamente, mediante riferimento a qualsiasi altra informazione, ivi compreso un numero di identificazione personale.
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Dati di Utilizzo</h5>
        <p class="card-text mb-0">
            Sono le informazioni raccolte in maniera automatica da questo Sito Web (o dalle applicazioni di parti terze che questo Sito Web utilizza), tra le quali: gli indirizzi IP o i nomi a dominio dei computer utilizzati dall'Utente che si connette con questo Sito Web, gli indirizzi in notazione URI (Uniform Resource Identifier), l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta dal server (buon fine, errore, ecc.) il paese di provenienza, le caratteristiche del browser e del sistema operativo utilizzati dal visitatore, le varie connotazioni temporali della visita (ad esempio il tempo di permanenza su ciascuna pagina) e i dettagli relativi all'itinerario seguito all'interno del Sito Web, con particolare riferimento alla sequenza delle pagine consultate, ai parametri relativi al sistema operativo e all'ambiente informatico dell'Utente.
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Utente</h5>
        <p class="card-text mb-0">
            L'individuo che utilizza questo Sito Web, che deve coincidere con l'Interessato o essere da questo autorizzato ed i cui Dati Personali sono oggetto del trattamento.
        </p>
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Interessato</h5>
        <p class="card-text mb-0">
            La persona fisica o giuridica cui si riferiscono i Dati Personali.
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Titolare del Trattamento (o Titolare)</h5>
        <p class="card-text mb-0">
            La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo cui competono, anche unitamente ad altro titolare, le decisioni in ordine alle finalità, alle modalità del trattamento di dati personali ed agli strumenti utilizzati, ivi compreso il profilo della sicurezza, in relazione al funzionamento e alla fruizione di questo Sito Web. Il Titolare del Trattamento, salvo quanto diversamente specificato, è il proprietario di questo Sito Web.
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Responsabile del Trattamento (o Responsabile)</h5>
        <p class="card-text mb-0">
            La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo preposti dal Titolare al trattamento dei Dati Personali, secondo quanto predisposto dalla presente privacy policy.
      </div>
      <div class="mt-2">
        <h5 class="mb-50">Riferimenti legali</h5>
        <p class="card-text mb-0">
            Avviso agli Utenti europei: la presente informativa privacy è redatta sulla base di molteplici ordinamenti legislativi: Art. 10 della Direttiva n. 95/46/CE; quanto previsto dalla Direttiva 2002/58/CE, come aggiornata dalla Direttiva 2009/136/CE; Artt. 13 e 14 del Regolamento (UE) 2016/679.
            Questa informativa riguarda esclusivamente questo Sito Web.            
      </div>
    </div>




    </div>
    <!--/ about -->


  </div>
