@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
.datatable-body-cell-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}