<ng-template #modalForm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Company</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form" [formGroup]="companyForm">
    <div class="modal-body" tabindex="0" ngbAutofocus>
        
            <input Type="hidden" name="id" formControlName="id">
            <input Type="hidden" name="LastSyncDate" formControlName="LastSyncDate">
            <!--<input Type="hidden" name="Canceled" formControlName="Canceled">-->
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text"  formControlName="Name" class="form-control" placeholder="Name"  name="Name" />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="City">City</label>
                  <input type="text"  formControlName="City" class="form-control" placeholder="City"  name="City" />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="Country">Country</label>
                  <input type="text" formControlName="Country" class="form-control" placeholder="Country" name="Country" />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="Street">Street</label>
                    <input type="text" formControlName="Street" class="form-control" placeholder="Street" name="Street" />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="Type">Type</label>
                    <select class="form-control" formControlName="Type" [value]="Type">
                      <option>teather</option>
                      <option>club</option>
                      <option>club 2</option>
                      <option>festival</option>
                    </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" id="Phone" class="form-control" placeholder="Phone" name="Phone" />
                </div>
              </div>
              <div class="col-12">
               
              </div>
            </div>
          
     <!-- <form action="#">
        <label>Email: </label>
        <div class="form-group">
          <input type="text" placeholder="Email Address" class="form-control" />
        </div>
        <label>Password: </label>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" />
        </div>
      </form> -->
    </div>
    <div class="modal-footer">
       
        <button type="delete" rippleEffect class="btn btn-outline-secondary" rippleEffect (click)="closeForm('delete',companyForm)">Delete</button>
        <button type="submit" rippleEffect class="btn btn-primary mr-1" rippleEffect (click)="closeForm('save',companyForm)">Submit</button>
    </div> 
   </form>
  </ng-template>
